.box{
	width:100%;height:auto;
	background: #fff;
}
.header{
	width:100%;height:2.15rem;background:#f9f9f9;border-bottom:2px solid #d6d6d6;
}
.header img{
	float:left;margin-left:0.625rem;margin-top:0.6rem;width: 0.6rem;height: 1rem;
}
.zi{
	width:12.25rem;float:left;height:2.15rem;font-size:0.6rem;line-height:2.15rem;text-align:center;color:#000;
}
.zi1{
	width:2.4rem;height:2.15rem;font-size:0.75rem;color:#141a1d;line-height:2.15rem;float:left;
}
.zhuce{
	width:100%;height:4.5rem;background:#fff;margin-top:0.625rem;
}
.guojia{
	width:100%;height:2.3rem;border-bottom:2px solid #d6d6d6;
}
.guojia span{
	line-height:2.3rem;margin-left:0.55rem;
}
.guojia input{
	width:50%;height:1rem;border-radius:0.125rem;border:none;font-size:0.75rem;outline: none;
}
.huang{
	display:block;width:15rem;height:2rem;background:#ff5000;border-radius:0.125rem;margin-top:0.625rem;margin-left:0.45rem;line-height:2rem;font-size:0.75rem;text-align:center;color:#fff;
}
.zi2{
	width:100%;height:auto;
}
.yue{
	width:5rem;height:0.625rem;float:left;margin-left:1rem;margin-top:1rem;font-size:0.65rem;color: #868686;
}
.shu{
	width:5rem;height:0.625rem;float:right;margin-top:1rem;font-size:0.65rem;text-align:center;
}
























































































































































